{% extends 'base.html' %}
{% block body %}

<h1 style="text-align: center; padding-top: 0px; margin-top: 20px">Update The Info</h1>
<form action="/update/{{ name }}" method="post">
    <label class="form-label" style="margin: 15px;margin-left: 15px;text-align: left;">Name</label>
    <input class="form-control" type="text" style="width: 200px;margin: 0px;margin-left: 15px;" name="name" value="{{ name }}" disabled/>
    <label class="form-label" style="margin: 15px;">Number</label>
    <input class="form-control" type="number" style="width: 200px;margin-left: 15px;" name="number" value="{{ number | int }}"/>
    <button class="btn btn-primary" type="submit" style="margin: 11px">Save</button>
    <a class="btn btn-primary" role="button" style="margin: 11px" href="/">Cancel</button>
</form>
<script src="/static/js/bootstrap.min.js"></script>

{% endblock body %}