<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
            />
        <title>Contacts App</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>

    <body>
        {% block body %}
            
        {% endblock body %}
    </body>
    <script src="https://cdn.jsdelivr.net/npm/appwrite@10.1.0" />
    <script>
        const { Client } = Appwrite;
    </script>
</html>