<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/typicons.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center"><span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                    style="background: var(--bs-gray);"><i class="typcn typcn-contacts"></i></span><span>Contacts
                    App</span></a><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                </ul><small style="margin-right: 15px;font-size: 15px;">Hello {{ user_name }}</small><a
                    class="btn btn-primary ms-md-2" role="button" href="/logout" style="transform: scale(1);">Logout</a>
            </div>
        </div>
    </nav>
    <h1 style="text-align: center;margin: 10px;">My Contacts App</h1>
    <form method="post" action="/contacts">
        <label class="form-label" style="margin: 15px;margin-left: 15px;text-align: left;">Name</label>
        <input class="form-control" type="text" style="width: 200px;margin: 0px;margin-left: 15px;" name="name">
        <label class="form-label" style="margin: 15px;">Number</label>
        <input class="form-control" type="number" style="width: 200px;margin-left: 15px;" name="number">
        <button class="btn btn-primary" type="submit" style="margin: 11px;">Save</button>
    </form>
    <h1 class="text-center" style="font-size: 25px;text-align: center;margin-left: 25px;margin-top: 20px;width: 300px;">
        Your contacts</h1>
    <div class="container">
        <div class="table-responsive" style="width: 700px;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 70px;">Sr. No.</th>
                        <th style="width: 150px;">Name</th>
                        <th style="width: 250px;">Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in all_contacts %}
                    <tr>
                        <td style="width: 70px;">{{ loop.index }}</td>
                        <td style="width: 150px;">{{ i[1] }}</td>
                        <td style="width: 250px;">{{ i[2] }}</td>
                        <td style="width: 250px;">
                            <a class="btn btn-primary" role="button" href="">Update</a>
                            <a class="btn btn-primary" role="button" href="">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>