<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: var(--bs-gray);"><i class="typcn typcn-contacts"></i></span><span>Contacts App</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="login.html" style="transform: scale(1);">Login</a><a class="btn btn-primary ms-md-2" role="button" href="signup.html" style="transform: scale(1);">Signup</a>
            </div>
        </div>
    </nav>
    <h1 style="text-align: center;margin: 0px;margin-top: 20px;">My Contacts App</h1>
    <p class="fs-6" style="margin-top: 20px;text-align: center;margin-left: 30px;margin-right: 30px;">Some error happened.</p>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>