<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>

<body>
    <h1 style="text-align: center;margin: 10px;">My Contacts App</h1>
    <h4 class="text-start" style="text-align: center;padding-top: 0px;margin-top: 20px;margin-left: 20px;">Update the info</h4>
    <div class="row" style="margin-top: 10px;margin-left: 10px;">
        <div class="col" style="padding: 15px;"><label class="form-label">Name</label><input type="text" style="margin-left: 15px;" name="name" value="hello" disabled=""></div>
    </div>
    <div class="row" style="margin-top: 10px;margin-left: 10px;">
        <div class="col" style="padding: 16px;"><label class="form-label">Number</label><input type="number" style="margin-left: 15px;"></div>
    </div>
    <div class="row" style="margin-top: 10px;margin-left: 10px;">
        <div class="col"><button class="btn btn-primary" type="reset" style="margin: 10px;">Save</button><a class="btn btn-primary" role="button" style="margin: 10px;" href="contacts.html">Cancel</a></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>